/*
 *  Cybernetic Stylesheet Copy+Paste Version
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */
 // These colors are specific to the theme. Do not use in a package!

 @very-light-gray: #c5c8c6;
 @light-gray: #969896;
 @gray: #373b41;
 @dark-gray: #282a2e;
 @very-dark-gray: #1d1f21;

 @very-light-green: #95c896;
 @light-green: #369836;
 @green: #003b00;
 @dark-green: #002a00;
 @very-dark-green: #001f00;

 @very-light-blue: #9598c6;
 @light-blue: #565896;
 @dark-blue: #080a2e;
 @very-dark-blue: #0d0f31;

 @cyan: #8aded7;
 @blue: #81a2de;
 @purple: #ac20df;
 @green: #b5bd68;
 @red: #cc6666;
 @orange: #de935f;
 @light-orange: #f0c674;
 @black: #000000;

 @amber-red: #a82a00;

 @amber: #AA9966;
 @bright-amber: #DDBBAA;
 @gold: #ffcc00;

 @ketchup: #FF2323;
 @mustard: #FFFF00;
 @pickle: #33FF11;
 @lettuce: #66FF66;
 @straw: #FFFFBB;

 @string-color: skyBlue;


 // This defines all syntax variables that syntax themes must implement when they
 // include a syntax-variables.less file.

 // General colors
 @syntax-text-color: @very-light-gray;
 @syntax-cursor-color: white;
 @syntax-selection-color: lighten(@dark-blue, 20%);
 @syntax-background-color: @very-dark-gray;

 // Guide colors
 @syntax-wrap-guide-color: @dark-gray;
 @syntax-indent-guide-color: @gray;
 @syntax-invisible-character-color: @gray;

 // For find and replace markers
 @syntax-result-marker-color: @light-gray;
 @syntax-result-marker-color-selected: white;

 // Gutter colors
 @syntax-gutter-text-color: @very-light-gray;
 @syntax-gutter-text-color-selected: @gold;
 @syntax-gutter-background-color: @black;
 @syntax-gutter-background-color-selected: @very-dark-blue;

 // For git diff info. i.e. in the gutter
 @syntax-color-renamed: @blue;
 @syntax-color-added: @green;
 @syntax-color-modified: @orange;
 @syntax-color-removed: @red;



/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  //background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);

  .gutter {
    background-color: @black;
    color: @gold;

    .line-number {
      &.cursor-line {
        background-color: @amber-red;
        color: @gold;
      }
      &.cursor-line-no-selection {
        color: @bright-amber; //syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

    background-color: @syntax-background-color;
    color: @syntax-text-color;

    .wrap-guide {
      background-color: @syntax-wrap-guide-color;
    }

    .indent-guide {
      color: @syntax-indent-guide-color;
    }

    .invisible-character {
      color: @syntax-invisible-character-color;
    }

    .gutter {
      background-color: @black;
      color: @gold;

      .line-number {
        &.cursor-line {
          background-color: @amber-red;
          color: @gold;
        }
        &.cursor-line-no-selection {
          color: @bright-amber; //syntax-gutter-text-color-selected;
        }
      }
    }

    .gutter .line-number.folded,
    .gutter .line-number:after,
    .fold-marker:after {
      color: @light-gray;
    }

    .invisible {
      color: @syntax-text-color;
    }

    .cursor {
      color: @syntax-cursor-color;
    }

    .selection .region {
      background-color: @syntax-selection-color;
    }


  // Syntax styles

  .syntax--comment {
    color: @amber;
  }

  .syntax--keyword {
    color: @purple;

    &.syntax--control {
      color: @purple;
    }

    &.syntax--operator {
      color: @syntax-text-color;
    }

    &.syntax--other.syntax--special-method {
      color: @blue;
    }

    &.syntax--other.syntax--unit {
      color: @orange;
    }
  }

  .syntax--storage {
    color: @purple;
  }

  .syntax--constant {
    color: @orange;

    &.syntax--character.syntax--escape {
      color: @cyan;
    }

    &.syntax--numeric {
      color: @orange;
    }

    &.syntax--other.syntax--color {
      color: @cyan;
    }

    &.syntax--other.syntax--symbol {
      color: @green;
    }
  }

  .syntax--variable {
    color: @red;

    &.syntax--interpolation {
      color: darken(@red, 10%);
    }

    &.syntax--parameter.syntax--function {
      color: @green;
    }

  }

  .syntax--invalid.syntax--illegal {
    background-color: @ketchup;
    color: @mustard;
  }

  .syntax--string {
    color: @green;

   &.syntax--quoted {
    color: @string-color;
    &.syntax--double {
     color: @string-color;
    }
   }

    &.syntax--regexp {
      color: @cyan;

      .syntax--source.syntax--ruby.syntax--embedded {
        color: @orange;
      }
    }

    &.syntax--other.syntax--link {
      color: @red;
    }
  }

  .syntax--punctuation {
    &.syntax--definition {
      &.syntax--comment {
        color: @bright-amber;
      }

      &.syntax--string {
       color: @string-color;
      }

      &.syntax--variable,
      &.syntax--parameters,
      &.syntax--array {
        color: @syntax-text-color;
      }

      &.syntax--heading,
      &.syntax--identity {
        color: @blue;
      }

      &.syntax--bold {
        color: @light-orange;
        font-weight: bold;
      }

      &.syntax--italic {
        color: @purple;
        font-style: italic;
      }
    }

    &.syntax--section.syntax--embedded {
      color: darken(@red, 10%);
    }

    &.syntax--section.syntax--property-list.syntax--begin.syntax--bracket.syntax--curly {
     color: @ketchup;
    }

    &.syntax--section.syntax--property-list.syntax--end.syntax--bracket.syntax--curly {
     color: @ketchup;
    }

      &.syntax--section.syntax--property-list.syntax--begin.syntax--round.syntax--curly {
       color: @cyan;
      }

      &.syntax--section.syntax--property-list.syntax--end.syntax--round.syntax--curly {
       color: @cyan;
      }

  }

  .syntax--support {
    &.syntax--class {
      color: @light-orange;
    }

    &.syntax--function  {
      color: @gold;

      &.syntax--any-method {
        color: @blue;
      }
    }
  }

  .syntax--entity {
    &.syntax--name.syntax--function {
      color: @blue;
    }
    &.syntax--name.syntax--type {
      color: @light-orange;
      border-bottom: 1px dotted @dark-gray;
    }

    &.syntax--other.syntax--inherited-class {
      color: @green;
    }
    &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
      color: @light-orange;
    }

    &.syntax--name.syntax--section {
      color: @blue;
    }

    &.syntax--name.syntax--tag {
      color: @red;
      //text-decoration: underline;
    }

    &.syntax--other.syntax--attribute-name {
      color: @orange;

      &.syntax--id {
        color: @blue;
      }
    }
  }

  .syntax--meta {
    &.syntax--class {
      color: @light-orange;
    }

    &.syntax--link {
      color: @orange;
    }

    &.syntax--require {
      color: @blue;
    }

    &.syntax--selector {
      color: @purple;
    }

    &.syntax--separator {
      background-color: @gray;
      color: @syntax-text-color;
    }
  }

  .syntax--none {
    color: @syntax-text-color;
  }

  .syntax--markup {
    &.syntax--bold {
      color: @orange;
      font-weight: bold;
    }

    &.syntax--changed {
      color: @purple;
    }

    &.syntax--deleted {
      color: @red;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }

    &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
      color: @blue;
    }

    &.syntax--inserted {
      color: @green;
    }

    &.syntax--list {
      color: @red;
    }

    &.syntax--quote {
      color: @orange;
    }

    &.syntax--raw.syntax--inline {
      color: @green;
    }
  }

  .syntax--entity.syntax--name.syntax--tag {
   text-decoration:none;
   background-color:#003300;
  }

  .syntax--source.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;
    &.syntax--heading {
      color: @green;
    }
  }


  // Mini editor

  atom-text-editor[mini] .scroll-view {
    padding-left: 1px;
  }


// style UI elements inside atom-text-editor
.cursor {
  // border-color: red;
}

 .line-number {
 color: cyan;
}

.syntax--comment {
 color: #AA9966;
}

.syntax--punctuation.syntax--definition.syntax--comment {
 color: #DDBBAA;
}

.syntax--entity.syntax--name.syntax--type {
 text-decoration:none;
}

.syntax--entity.syntax--name.syntax--type.syntax--object.syntax--console {
 color:@green;
}

}

@-webkit-keyframes bracketanimation {
  from  {
      border-width: 1px;
      border-color: rgba(255, 200, 100, 0.1);
      left: -3px;
      top: 0px;
  }
  65%   {
      border-width: 6px;
      border-color: rgba(222, 149, 54, 0.9);
      left: -3px;
      top: 0px;
  }
  to    {
      border-width: 1px;
      border-color: rgba(200, 129, 44, 0.45);
      left: 0px;
      top: 0px;
  }
}
.bracket-matcher .region {
    border-bottom: 0;
}

.bracket-matcher .region:after {
    content: "";
    -webkit-animation-name: bracketanimation;
    -webkit-animation-duration: .3s;
    border: 1px solid rgba(222, 149, 54, 0.5);
    border-style: solid;
    border-radius: 3px;
    background-color: rgba(255, 217, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
}


atom-text-editor {
  ::-webkit-scrollbar {
    width: 50px !important;
    height: 50px !important;
  }
}
